body {
  margin: 0;
  padding: 0;

}

.blue {
  width: 100%;
  background-color: rgba(17, 74, 150, 1);
}

.top-1 {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
}

.topnav {
  background-color: rgba(15, 34, 57, 1);
  width: 85%;
  border-bottom-right-radius: 90px;
}

.top-icons {
  color: white;
  margin: 15px;
}

.social-icons {
  padding-right: 30px;
}

.categoty-bt {
  border-radius: 5px;
  border: 1px solid rgba(17, 74, 150, 1);
  color: rgba(17, 74, 150, 1);
  font-size: 16px;
  background-color: transparent;
  padding: 0 15px;
  white-space: nowrap;
  margin-right: 10px;
}

.search1 {
  border: none;
  background-color: rgba(245, 247, 251, 1);
  border-radius: 6px;
}

.search1::placeholder {
  font-size: 14px;
}

.nav-bar {
  padding: 0.8rem;
}

.logo {
  font-size: 26px;
  color: rgba(17, 74, 150, 1);
  font-weight: 700;
}

.logo p {
  margin-bottom: 0 !important;
}

.nav-bar1 {
  background-color: rgba(17, 74, 150, 1);
  width: 100%;
}

.nav-bar1 .nav-items {
  list-style: none;
  margin-bottom: 0;
}

.nav-items .items {
  margin-right: 20px;
  color: rgba(255, 255, 255, 1);
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
}

.nav-items {
  padding: 0 !important;

}

.box-content {
  width: 22%;
  border: 1px;
  border-radius: 6px;
}

.box {
  width: 100%;
  padding-bottom: 20px;
}

.body1-h4 {
  color: rgba(255, 255, 255, 1);
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  padding: 80px 0;
}

.body1 {
  margin-top: 0;
  background-color: rgba(132, 194, 255, 1);
  height: fit-content;
}

.box-content {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px 16px;
  white-space: nowrap;
}

.header-content {
  margin-bottom: 10px;
}

.header-content h6 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 400;
}

.name {
  font-size: 18px;
  font-weight: 550;
  columns: rgba(0, 0, 0, 1);
}